@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: upper;
    src: url(./assets/fonts/logo/NewakeFont-Demo.otf);
}

@font-face {
    font-family: sftext;
    src: url(./assets/fonts/Solid-Mono.ttf);
}

@font-face {
    font-family: para;
    src: url('./assets/fonts/paragrabh/Urbanist-VariableFont_wght.ttf' );
}

@font-face {
    font-family: sftitle;
    src: url('./assets/fonts/title/SF-Pro-Display-Bold.otf' );
}

@font-face {
    font-family: aileron;
    src: url('./assets/fonts/paragrabh/Aileron-SemiBold.otf' );
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}